*{
    margin: 0 auto;
    padding: 2px;
    margin-top: 5px;


}
body{
    background-color: rgb(239, 248, 255); 
    width: 400px;
    color: rgb(73, 89, 112);
}

header{
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    background-color: rgb(213, 232, 248);
    border-radius: 10px;
    
}
main{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: rgb(213, 232, 248);
    font-weight: 700;
    padding: 20px;
    text-align: start;
    text-align: center;
}

ol{
    text-align: center;
    list-style: none;
    font-family: monospace;
    font-size: x-large;
}

footer{
    background-color: rgb(213, 232, 248);
    border-radius: 10px;
    padding: 5px;
    font-size: x-large;
    font-family: monospace;
    text-align: center;
}

button{
    background-color:aliceblue;
    border-radius: 10px;
    padding: 5px;
    font-size: x-large;
    font-family: monospace;
}

::placeholder{
    background-color:aliceblue;
    border-radius: 10px;
    padding: 5px;
    font-family: monospace;
}
